<div class="container">
	<h1>About Pinstruments</h1>
	<h3>We love music, musical instruments, and sharing what other musicians love to play and look at.</h3>
	<p>This is still a work in progress, and we have some awesome ideas for this community, but for now the rules are:</p>
	<p>1. Have fun and post things that your fellow instrument lovers will dig too.</p>
	<p>2. Don't post anything offensive or illegal.</p>
	<p>3. If you pin something from another site, give credit.</p>
	<p>4. Don't spam this community.</p>
	<p>5. Don't bother or annoy anyone here.</p>
	<p>6. If you have any other questions, just ask.</p>
	<p>Thanks!<br />
		The Pinstruments Team
	</p>
</div>